body {
    background-color: burlywood;
}

/* Styling for the navigation bar */
nav {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
}

/* Styling for the navigation links */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

/* Styling for the dropdown menus */
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    width: 200px;
    text-align: left;
    z-index: 1;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

/* Styling for the logo */
.logo {
    position: relative;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}